head, body {
    margin: 0;
    padding: 0;
    background-color: black;
}

canvas {
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 36px;
    text-align: center;
    cursor: pointer;
}

.overlay .title {
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 42px;
}

.overlay .title2 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 30px;
}

.controls {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    font-size: 24px;
    max-width: 400px;
    text-align: left;
}

.controls h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 28px;
    text-align: center;
}

.controls ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.controls ul li {
    margin-bottom: 10px;
    line-height: 1.6;
}

.controls strong {
    color: #FFD700; /* Gold color to highlight control keys */
}

#hud {
    position: absolute;
    top: 60px;
    left: 10px; /* Adjust to place next to the FPS panel */
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 8px;
}

#hud p {
    margin: 5px 0;
}